{%- set header = section.extra.header-%}
<div class="banner-container-home">
    <div class="home-banner-text">
        <h1 class="home-banner-header">{{ header.title }}</h1>
        <section class="banner-home-subtitle">
            {{ section.content | safe }}
        </section>
    </div>
    {%- if header.img -%}
        {%- if header.img is containing("$BASE_URL") -%}
            {# Conversion no longer supported in favour of proper path. #}
            {{ throw(message="ERROR: The image path for the header should not contain '$BASE_URL'. Please remove it and use the proper image path.") }}
        {%- else -%}
            {%- set image_path = get_url(path=header.img, trailing_slash=false, cachebust=true) | safe -%}
        {%- endif -%}
        <div class="image-container-home">
            <img class="banner-home-img" alt="{{ header.img_alt | default(value="the owner") }}" src="{{ image_path }}" />
        </div>
    {%- elif header.dual_img -%}
        {%- if header.dual_img.light is containing("$BASE_URL") or header.dual_img.dark is containing("$BASE_URL") -%}
            {# Conversion no longer supported in favour of proper path. #}
            {{ throw(message="ERROR: The image path for the header should not contain '$BASE_URL'. Please remove it and use the proper image path.") }}
        {%- else -%}
            {%- set image_path_light = get_url(path=header.dual_img.light, trailing_slash=false, cachebust=true) | safe -%}
            {%- set image_path_dark = get_url(path=header.dual_img.dark, trailing_slash=false, cachebust=true) | safe -%}
        {%- endif -%}
        <div class="image-container-home">
            <img class="img-light banner-home-img" alt="{{ header.img_alt | default(value="the owner") }}" src="{{ image_path_light }}" />
            <img class="img-dark banner-home-img" alt="{{ header.img_alt | default(value="the owner") }}" src="{{ image_path_dark }}" />
        </div>
    {%- endif -%}
</div>
