{% import "macros/settings.html" as macros_settings %}
{% import "macros/translate.html" as macros_translate %}

{# Load the internationalisation data for the current language from
the .toml files in the user's '/i18n' folder, falling back to the theme's.
This variable will hold all the text strings for the language #}
{%- set language_strings = load_data(path="i18n/" ~ lang ~ '.toml', required=false) -%}
{%- if not language_strings -%}
    {%- set language_strings = load_data(path="themes/tabi/i18n/" ~ lang ~ ".toml", required=false) -%}
{%- endif -%}

{%- set button_icon = button_icon | default(value=macros_settings::evaluate_setting_priority(setting="iine_icon", page=page | default(value=""), section=section | default(value=""), default_global_value="heart")) -%}
{%- if config.extra.iine_unified_languages and lang != config.default_language -%}
    {%- set unified_slug = page.path | replace(from='/' ~ lang ~ '/', to='/') -%}
    {%- set slug = slug | default(value=unified_slug) -%}
{%- else -%}
    {%- set slug = slug | default(value=page.path) -%}
{%- endif -%}
{%- if slug_suffix -%}
    {%- set slug = slug ~ '--' ~ slug_suffix -%}
{%- endif -%}
{%- if label -%}
    {%- set final_label = label -%}
{%- elif language_strings -%}
    {%- set final_label = macros_translate::translate(key="like_this_post", default="Like this post", language_strings=language_strings) -%}
{%- else -%}
    {%- set final_label = "Like this post" -%}
{%- endif -%}

<noscript>{{ macros_translate::translate(key="iine_noscript", default="JavaScript is required to like this content.", language_strings=language_strings) }}</noscript>
<button class="iine-button" aria-hidden="true"
{%- if slug %} data-slug="{{ slug }}"{% endif %}
{%- if button_icon %} data-icon="{{ button_icon }}"{% endif %}
aria-label="{{ final_label }}" title="{{ final_label }}"></button>
