footer {
  margin-top: auto;
  margin-block-end: 1.4rem;
  color: var(--meta-color);
  font-size: 0.88rem;
  font-family: var(--post-font-family);
  text-align: center;

  .nav-links {
    color: var(--primary-color);
  }

  p {
    margin: 0;
  }
}

footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
}

footer nav {
  display: flex;
  margin: 0 0rem;
}

.socials {
  display: flex;
  flex-grow: 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;

  svg {
    max-height: 15px;
  }

  ul {
    gap: 5px;
  }
}


.title-container>.social {
  padding-inline: 0.55rem;
  margin-inline-start: 0.55rem;

  &>img {
    /* Compensate for text being grey, not black */
    filter: brightness(0) saturate(1) invert(0.17) sepia(5%) saturate(2.76) hue-rotate(131deg) brightness(95%) contrast(0.9);
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: unset;
  padding: 0.5vmin;

  &>img {
    aspect-ratio: 1/1;
    width: 1.5rem;
    height: auto;
  }

  &:hover {
    &>img {
      filter: invert(1);
    }
  }

}

.social.social-rss:hover {
  background-color: #ea7819;
}

.social.social-linkedin:hover {
  background-color: #0a66c2;
}

.social.social-openstreetmap:hover {
  background-color: #88be38;
}

.social.social-github:hover,
.social.social-wikipedia:hover {
  background-color: #000000;
}

@mixin dark-theme-social {
  .social {
    &>img {
      filter: invert(1);
    }

    &:hover {
      &>img {
        filter: invert(0);
      }
    }
  }

  .social.social-github:hover,
  .social.social-wikipedia:hover {
    background-color: #ffffff;
  }

  .social.social-rss:hover,
  .social.social.social-linkedin:hover,
  .social.social.social-openstreetmap:hover {
    &:hover {
      &>img {
        filter: invert(1);
      }
    }
  }
}

[data-theme="dark"] {
  @include dark-theme-social;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    @include dark-theme-social;
  }
}
