/* Gruvbox theme */
:root {
  --codeblock-fg: #fdf4c1;
  /* --codeblock-bg varies based on theme, and it is set in _main.scss */
  --codeblock-red: #fa5c4b;
  --codeblock-orange: #fe8019;
  --codeblock-yellow: #fabd2f;
  --codeblock-green: #b8bb26;
  --codeblock-aqua: #8ec07c;
  --codeblock-blue: #83a598;
  --codeblock-purple: #d3869b;
  --codeblock-grey: #928374;
}

/* Base */
.z-code {
  color: var(--codeblock-fg);
  background-color: var(--codeblock-bg);
}

.z-keyword.z-other,
.z-keyword.z-control,
.z-storage.z-modifier,
.z-storage.z-type.z-function,
.z-storage.z-type.z-enum,
.z-storage.z-type.z-module {
  color: var(--codeblock-red);
}

.z-storage.z-type,
.z-annotation.z-parameters {
  color: var(--codeblock-yellow);
}

.z-keyword.z-operator,
.z-punctuation {
  color: var(--codeblock-orange);
}

.z-support.z-function,
.z-name.z-function {
  color: var(--codeblock-green);
}

.z-keyword.z-control.z-import,
.z-support.z-macro,
.z-variable.z-annotation {
  color: var(--codeblock-aqua);
}

.z-parameter {
  color: var(--codeblock-blue);
}

.z-string,
.z-constant.z-language,
.z-constant.z-numeric,
.z-support.z-type {
  color: var(--codeblock-purple);
}

/* Shell */
.z-variable.z-function.z-shell {
  color: var(--codeblock-blue);
}
