{%- import "macros/translate.html" as macros_translate -%}
{%- set type = type | default(value="info") -%}
{%- set default_title = type -%}
{%- set language_strings = load_data(path="themes/tabi/i18n/" ~ lang ~ '.toml', required=false) -%}
{%- if language_strings -%}
    {%- set default_title = macros_translate::translate(key=default_title, default=default_title, language_strings=language_strings) -%}
{%- endif -%}
{%- set title = title | default(value=default_title | upper) -%}
{%- set icon = icon | default(value=type) -%}
{%- set text = text | default(value=body) -%}

<div class="admonition {{ type }}">
    <div class="admonition-icon admonition-icon-{{ icon }}"></div>
    <div class="admonition-content">
        <strong class="admonition-title">{{ title | safe }}</strong>
        {{ text | markdown | safe }}
    </div>
</div>
