{%- import "macros/translate.html" as macros_translate -%}
{%- set language_strings = load_data(path="i18n/" ~ lang ~ '.toml', required=false) -%}
{%- if not language_strings -%}
    {%- set language_strings = load_data(path="themes/tabi/i18n/" ~ lang ~ ".toml", required=false) -%}
{%- endif -%}

{# The `random_id` ensures that each instance of the shortcode has a "unique" id #}
{# allowing individual interactive elements (like toggles) to function correctly. #}
{# This avoids conflicts when multiple instances of the shortcode are used. #}
{# More context: https://github.com/welpo/tabi/issues/82 #}
{%- set random_str = get_random(end=8446744073709551615) | num_format(locale="en") | replace(from=",", to="") -%}
{%- set random_id = get_hash(literal=random_str) | truncate(length=8, end="") | replace(from="+", to="-") | replace(from="/", to="_") -%}
{%- set fixed_blur = fixed_blur | default(value=false) -%}

<label class="spoiler-container">
    <input type="checkbox" id="block-spoiler-{{random_id}}" class="spoiler-toggle" role="button" aria-pressed="false" />
    <div class="block-spoiler spoiler-content" title="{{ macros_translate::translate(key="reveal_spoiler", default="reveal spoiler", language_strings=language_strings) }}" tabindex="0">
        <div class="spoiler-hidden">{{ body | markdown | safe }}</div>
    </div>
</label>
